<!--HEADER-->

<header class="row position-relative">
  <!--Navbar TESLA name logo-->
  <nav class="px-5 pt-3">
    <div class="w-100">
      <ul>
        <li class="navbar-list-item">
          <a class="text-white" [routerLink]="['/cars']">Ver todos</a>
        </li>
        <li class="navbar-list-item">
          <a class="text-white" href="#">Vende tu coche</a>
        </li>
        <li class="navbar-list-item">
          <a class="text-white" href="#">Mi cuenta</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!--
  class={`
  absolute bg-sky-500/40 backdrop-blur-lg rounded
  translate-x-[var(--left)] translate-y-[var(--top)]
  left-0 top-0
  w-[var(--width)] h-[var(--height)]
  transition-all duration-500
  ease-in-out opacity-0 -z-10
`}-->
