<article class="container" [attr.data-id]="car.id.value">
  <div class="banner-image">
    <img [src]="car.carImageURL.value" />
  </div>

  <div class="wrapper">
    <h1>{{ car.title.value }}</h1>
    <p>{{ car.description.value }}</p>
    <p class="price">{{ this.car.price.value | currency : "EUR" }}</p>
    <div class="button-wrapper">
      <a
        [href]="this.car.carAnnouncementURL.value"
        target="_blank"
        class="btn btn-primary"
        >Ver anuncio</a
      >
    </div>
  </div>
</article>
